header, nav, main, footer {
    max-width: 75rem;
    margin: auto;
}










/*HEADER*/

div#headerContainer {

}

header {
	background-color: $primaryColor;
	max-width: 75rem;
	margin: 0 auto;
	width: 100%;


	h1 {
		margin-right: 30rem;
	}

	h2 {
		font-size: 24px;
		display: block;
		margin-left: 2rem;
		margin-top: 3rem;
	}

	img {
		padding: 1rem 0 .5rem $gutter;
		display: block;
		width: 100px;
	}
}










/* NAV  */
div#navContainer {
	background-color: white;
	max-width: 100rem;
}

nav {
	background-color: lighten($primaryColor, 30%);

nav.clearfix {
	background-color: $primaryColor;
	margin: 0 auto;
	width: 100%;

	ul li a span {
		display: inline;
	}

	.navigation {
		max-width: 60rem;
		margin: 0 auto;
		height: 1rem;
		background-color: $thirdColor;
	}

    ul {
        display: flex;
        justify-content:end;

		a {
			color: black;
		}
    }

	ul li a:hover {
		background-color: darken($primaryColor, 5%);
	}

	ul li.active a{
		background-color: darken($primaryColor, 5%);
	}
	
	
}












/*MAIN*/

div#mainContainer {

}


main {
	max-width: 75rem;
	margin: 0 auto;
	
	
	 /*  ------------- COLUMNS LAYOUT -------------  */


	 @for $i from 1 through 12 {
		$w: ($i / 12) * 100%;
		.large-#{$i} { flex-basis: $w;}
	}
	
}/*end MAIN*/
}










// FOOTER

div#footerContainer {

}