/* HEADER  */
div#headerContainer {
	grid-row-start: 1;
	background-color: $primaryColor;
}

header {
	margin-top: 0;
	grid-template-columns: 51px auto auto;

	div#phone {
		display: block;
		justify-self: end;
		color: white;
		text-decoration: none;
		font-weight:500;
		font-size: 2rem;
	}

	div#phone:hover {
		color: $thirdColor;
	}
	
	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		// grid-template-columns: 100px auto;
		
		input[type=text] {
			height: 40px;
			width: 30%;
			padding-left: 5px;
			border-radius: 10px;
			-webkit-transition: width 0.4s ease-in-out;
			transition: width 0.4s ease-in-out;
			align-self: flex-end;
		}
		input[type=text]:focus {
			height: 35px;
			width: 40%;
		}
	
	h1,h2 {
		color: $thirdColor;
		font-family: $defaultFont;
		margin: .35em $gutter;
	}

	h1 {
		font-size: 25px;
		margin-left: 2rem;
		margin-top: 3rem;
	}

	h2 {
		font-size: 24px;
		display: block;
		margin-left: 2rem;
		margin-top: 3rem;
	}

	img {
		padding: 1rem 0 .5rem $gutter;
		display: block;
		width: 100px;
	}
		

	}
} // end header










/* NAV  */
div#navContainer {
	grid-row-start: 2;
	background-color: white;
	width: 100%;
}

div#hamBTN, div#closed {
	display: none;
}

nav {
	height: auto;
	background-color: lighten($primaryColor, 30%);

	ul.closed {
		display:block;
	}

	ul {
		display: flex;
		justify-content: end;
		border: none;

		li {
			border: none;
		}

		li a {
			border: none;
			border-right: 1px solid rgba(0,0,0,0.2);
			padding: .7rem .9rem;
			transition: background 0.3s linear;
			-webkit-transition: background 0.3s linear;
		}
		
		li a span {
			display: inline;
		}
	
		li a:hover {
			background-color: lighten($primaryColor, 30%);
		}
		
		li ul {
			left: -999em;
			z-index: 99;
			background-color: lighten($menuColor, 10%);
			position: absolute;
			width: 10rem;
		}
		
		 li:hover ul {
			left:auto;
		}
	
		 li a:hover {
			background-color: darken($primaryColor, 5%);
		}
		
		 li ul li {
			float: none;
			border-bottom: 1px solid rgba(0,0,0,0.2);
		}
	
		 li.active a{
			background-color: darken($primaryColor, 5%);
		}

	}

	button {
		display: none;
	}
	
	

	
}/*end navigation*/










/* MAIN  */

div#mainContainer {
	grid-row-start: 3;	
	}


main {
	
	.box {
		font-size: 2rem;
	}

	.box span {
		font-size: 1.5rem;
	}
	
	








	    /*  ------------- COLUMNS LAYOUT -------------  */


		@for $i from 1 through 12 {
			$w: ($i / 12) * 100%;
			.medium-#{$i} { flex-basis: $w;}
		}
	
	
} // end main










div#footerContainer {
	grid-row-start: 4;
	background-color: black;
	width: 100%;
	 }