/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* BODY  */
body {
	font-family: $defaultFont;
	font-size: 16px;
}


/* HEADER  */
div#headerContainer {
	background-color: black;
}

header {
	background-color: darken($primaryColor, 1%);

	// flex-direction: row;
	// justify-content: space-between;
	// align-items: center;
	width: 100%;
	
	.header {
		display: flex;
		// grid-template-columns: 100px auto;
		

	
	h1,h2 {
		color: $thirdColor;
		font-family: $defaultFont;
		margin: .35em $gutter;
	}

	h1 {
		font-size: 25px;
		margin-left: 2rem;
		margin-top: 3rem;
	}

	h2 {
		// font-size: 24px;
		display: none;
	}

	img {
		padding: 1rem 0 .5rem $gutter;
		display: block;
		width: 100px;
	}
		

	}
} // end header


/* NAV  */
div#navContainer {background-color: white; width: 100%; float: left;}

nav {
	background-color: lighten($primaryColor, 30%);
	display: flex;
	flex-direction: column;

	button {
		background: transparent;
		border: none;
		font-size: 3rem;
		padding: .2rem;
		color: white;
		margin-right: 1rem;
		align-self: flex-end;
	}

			ul li a {
				display: block;
				color: #fff;
				text-decoration: none;
				padding: 1rem 1rem; /*44px min*/
				border-bottom: solid 1px rgba(0,0,0,0.3);
				padding: 1rem;
			}

			ul li {
                border-bottom: solid 1px rgba(255, 255, 255, 0.1);
				padding: 0;
				margin: 0;
            }
			
			ul li.active a{
				background-color: darken($primaryColor, 5%);
			}
			
			ul li ul li a{
				padding-left: 8%;
			}
			
			ul li a:hover {
				background-color: darken($primaryColor, 5%);
			}
			
			ul.closed {
				display: none;
			}

			ul.open {
                display: block;
            }
//}/*end navigation*/
}/*end nav*/


















/* MAIN  */
div#mainContainer {
    background-color: black;
}

main {
	max-width: 75rem;
	margin: 1em auto;
	padding: 1rem 0;
	font-family: $defaultFont;

	h1 {
		font-size: 36px;
		color: $secondaryColor;
		padding-left: $gutter;
	}





























	
	
	   /*  ------------- COLUMNS LAYOUT -------------  */

.row{
	clear: both;
	margin: 1em 0;
}

.column{
	padding: 0 $gutter;
	margin: 1em 0;

	h2 {
		padding: 1rem;
	}

	p {
		padding: 1rem;
	}
}
	
@for $i from 1 through 12 {
	$w: ($i / 12) * 100%;
	.small-#{$i} {
		width: $w;
		float: left;
	}
}






















	/*--------------ATTORNEY SELECTION---------------*/
	
	.att {
		margin: 0 auto;
	}

	.Attorney {
		background-color: darken($secondaryColor, 30%);
		
		h2 {
			text-align: center;
			color: darken($primaryColor, 10%);
			font-size: 24px;
			margin: 5px;
		}
		img {
			width: 100%;
		}
		button {
			// width: 100%;
			background-color: $primaryColor;
			border-radius: 1rem;
			border: none;
			padding: 1rem;
			color: white;
			margin: 2rem;
			font-weight: bold;
		}
	}
	
	
	
	
	/*------------CALL TO ACTION LINKS------------*/
	
	.clients, .case{
		background-color: $primaryColor;
		text-align: center;
		padding: 2em 0;
		margin: .5em 0;
		
		a, h2{
			width: 100%;
			height: 100%;
			text-decoration: none;
			color: $thirdColor;
		}
	}
	
	
	
	/*------------BLOG POSTS---------*/
	.blogs{
		background-color: $primaryColor;
		
		
		img{
			width: 100%;
		}
		h2, p{
			margin: .5em $gutter;
			color: $thirdColor;
		}
		h2{
			font-size: 24px;
		}
		button{
			width: 100%;
			background-color: $thirdColor;
			padding: 1em;
			border: none;
			color: $primaryColor;
		}


	}
	
	
	
	/*----------TIP OF THE DAY/FAQ---------------*/
	.tips {
		background-color: $primaryColor;
		color: $thirdColor;
		padding: .5em;
		
		h2{
			font-size: 24px;
			margin: .5em 0;
		}
		p{
			margin: .5em 0;
		}
		button{
			background-color: $thirdColor;
			text-decoration: none;
			border: none;
			color: $primaryColor;
			padding: .5em;
		}
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	}/*end Tips*/
	
	


	
	
} // end main

/* FOOTER  */
div#footerContainer {background-color: black; width: 100%}

.footer {
	background-color: $primaryColor;
	color: $secondaryColor;
	padding: 1rem 0;
	text-align: center;
	
}
.social{
	text-decoration: none;
	color: $primaryColor;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}